/* 
 * Main
*/
html {
  background-color: #cfd9df;
  background-image: radial-gradient(
    #cfd9df 100%,
    #e2ebf0 0%
  ); /* https://cssgradient.io/gradient-backgrounds/ */

  font-family: "Nova Flat";
  font-size: 22px;
  margin: auto;
  height: 100%;
}

body {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* 
 * Game
*/
.game-wrapper {
  width: 40%;
  height: 80%;
  background-color: transparent;
  margin: 0;

  border: 2px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* 
 * Control bar
*/
.control-wrapper {
  flex: 1;
  border-bottom: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin: 10px;
  height: 30%;
}

.coordinate {
  flex: 4;
  border: none;
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-bottom: 2px solid rgba(228, 255, 222, 1);
  transition: 0.9s;
  text-align: center;
}

.coordinate:hover {
  background: rgb(212, 255, 203);
}

.coordinate:focus {
  outline-color: rgb(188, 255, 173);
  background: rgba(228, 255, 222, 1);
}

.char-select {
  flex: 1;
  background: rgb(228, 255, 222);
  background: linear-gradient(
    0deg,
    rgba(228, 255, 222, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid rgba(228, 255, 222, 1);
}

.btn {
  font-family: inherit;
  flex: 2;
  background: rgb(255, 255, 255);
  transition: 0.9s;
  border: none;
  border-radius: 5px;
  outline-color: rgb(188, 255, 173);
}
.btn:hover {
  background: rgb(228, 255, 222);
}

/* 
 * Game Table
*/
.table-wrapper {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.game-table {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  text-align: center;
}

.game-table tr {
  width: fit-content;
}

.game-table td {
  padding: 10px;
  border: 1px solid black;
}
