/* 
 * Main
*/
html {
  background-color: #dff9fb;

  font-family: "Nova Flat";
  font-size: 22px;
  margin: auto;
  height: 100%;
}

body {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* 
 * Game
*/
.game-wrapper {
  width: 40%;
  height: 60%;
  background-color: transparent;
  margin: 0;

  border: 1px solid #6ab04c;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* 
 * Control bar
*/
.control-wrapper {
  flex: 1;
  /* border-bottom: 1px solid #3D9970; */
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control.bar {
  flex: 8;
}

.control.restart {
  justify-content: center;
  flex: 1;
}

.item {
  margin: 5px;
  height: 40%;
}

.coordinate {
  flex: 4;
  border: none;
  border-radius: 5px 5px 2px 2px;
  background: transparent;
  border-bottom: 2px solid #6ab04c;
  transition: 0.5s;
  text-align: center;
}

.coordinate:hover {
  background: #badc58;
}

.coordinate:focus {
  outline-color: #6ab04c;
  box-shadow: 0 0 3pt 2pt #6ab04c;
  background: #badc58;
}

.char-select {
  flex: 1;
  
  background: transparent;
  font-family: inherit;
  border-radius: 5px;
  border: 2px solid #6ab04c;
  outline-color: #6ab04c;
  transition: 0.5s;
}

.char-select:hover {
    background: #badc58;
}

.char-select:focus {
    box-shadow: 0 0 3pt 3pt #6ab04c;
}

.icn{
  background: transparent;
  border: none;
  width: inherit;
  height: inherit;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 5px;
}

.icn img{
  height: 30px;
  width: 30px;
}

.btn {
  
  font-family: inherit;
  flex: 2;
  background: transparent;
  transition: background 0.5s;
  border: 2px solid #6ab04c;
  border-radius: 5px;
  outline-color: #6ab04c;
}
.btn:hover {
  background: #badc58;
}

.btn:focus {
    box-shadow: 0 0 3pt 3pt #6ab04c;
}

/* 
 * Game Table
*/
.table-wrapper {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.game-notification{
  flex: 1;
}

.game-table {
    font-family: inherit;
    flex: 8;
  width: 250px;
  height: 250px;
  border: 2px solid #3D9970;
  border-radius: 5px;
  box-shadow: 0 0 1pt 1pt #6ab04c;
  text-align: center;
}

.game-table tr {
  width: fit-content;
}

.game-table td {
    width: 30px;
    height: 30px;
  padding: 0;
  border: 1px solid #3D9970;
  border-radius: 3px;
}
